@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --warning-glow-rgb: 255, 102, 0;
  --danger-glow-rgb: 255, 0, 0;
  --gutter-size: 8px;
  --border-glow-color: rgba(var(--color-glow-rgb), 0.7);
  --glow-color: rgba(var(--danger-glow-rgb), 0.8);
  --stripe-color: #f23;
  --glow-size: 3px;
  --stripe-size: 15px;

  --gutter-size: calc(var(--edge-size) * 0.35);
  --gutter-d-size: calc(var(--edge-size) / 2);
}

body {
  margin: 0;
  min-height: 100vh;
}
@layer base {
  html {
    font-family: "RobotoCondensed", sans-serif;
  }
  @font-face {
    font-family: "RobotoCondensed";
    src: local("RobotoCondensed-Regular"),
      url("./assets/fonts/RobotoCondensed-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: "RobotoCondensed";
    src: local("RobotoCondensed-Bold"),
      url("./assets/fonts/RobotoCondensed-Bold.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family: "RobotoCondensed";
    src: local("RobotoCondensed-SemiBold"),
      url("./assets/fonts/RobotoCondensed-SemiBold.ttf");
    font-weight: 600;
  }

  @font-face {
    font-family: "Recharge";
    src: local("Recharge-Bold") url("./assets/fonts/Recharge-Bolt.otf");
  }

  .warning {
    @apply shadow-boardedShadowWarning;
  }

  .danger {
    @apply shadow-boardedShadowDanger;
  }

  .piece {
    @apply float-left mb-1 mr-1;
  }

  .label {
    @apply inline-block uppercase whitespace-nowrap font-['RobotoCondensed'] text-3xl font-[400] p-1 tracking-[-1px];
  }

  .button-eva {
    @apply uppercase whitespace-nowrap font-['RobotoCondensed'] text-xl tracking-[-1px] font-bold rounded-md border-2 border-solid border-evaTextWarning text-evaTextWarning p-1 hover:glowedWarning;
  }

  .decal {
    @apply shadow-boxShadowDecal bg-repeatLinearGrad;
  }

  .glowedDanger {
    --glow-color: rgba(var(--danger-glow-rgb), 0.5);
    box-shadow: 0 0 10px 2px var(--glow-color);
  }

  .glowedWarning {
    --glow-color: rgba(var(--warning-glow-rgb), 0.5);
    box-shadow: 0 0 10px 2px var(--glow-color);
    text-shadow: 0 0 10px 2px var(--glow-color);
  }
}
